@mixin media-breakpoint-down($key) {
  $breakpoint: map-get($breakpoints, $key);
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin logo-replace($background-image) {
  background: url($background-image) no-repeat center / cover;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@mixin background-image($background-image) {
  background: url($background-image) no-repeat center / cover;
}

@mixin multiline-ellipsis($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}
