/* Color related classes */
.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.text-dark {
  color: $black !important;
}

.text-light {
  color: $light !important;
}

.text-gray {
  color: $gray-600 !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-third {
  background-color: $skin !important;
}

.bg-light {
  background-color: $light !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-align-center {
  text-align: center !important;
}

/* Font related classes */
.fs-s {
  font-size: 20px !important;
}

.fs-ss {
  font-size: 16px !important;
}

.fs-weight-bold {
  font-weight: bold !important;
}

.font-normal {
  font: normal normal normal 16px/24px Noto Sans TC;
}

.font-normal-2 {
  font: normal normal normal 24px/36px Noto Sans TC;
}

/* Display related classes */
.d-flex {
  display: flex !important;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

/* Other classes */
.border-0 {
  border: 0px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

/* iPad related classes */

.justify-content-lg-center {
  @include media-breakpoint-down(lg) {
    justify-content: center !important;
  }
}

.flex-lg-wrap {
  @include media-breakpoint-down(lg) {
    flex-wrap: wrap !important;
  }
}

.justify-content-lg-around {
  @include media-breakpoint-down(lg) {
    justify-content: space-around !important;
  }
}

/* Mobile related classes */

.d-md-none {
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.d-md-block {
  @include media-breakpoint-down(md) {
    display: block !important;
  }
}

.d-md-flex {
  @include media-breakpoint-down(md) {
    display: flex !important;
  }
}

.flex-md-column {
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.justify-content-md-start {
  @include media-breakpoint-down(md) {
    justify-content: flex-start !important;
  }
}

.align-items-md-start {
  @include media-breakpoint-down(md) {
    align-items: flex-start !important;
  }
}

.flex-md-wrap {
  @include media-breakpoint-down(md) {
    flex-wrap: wrap !important;
  }
}

/* Width related classes */
@for $index from 1 through 100 {
  .w-#{$index} {
    width: #{$index * 1%} !important;
  }
}

@for $index from 1 through 100 {
  @include media-breakpoint-down(lg) {
    .w-lg-#{$index} {
      width: #{$index * 1%} !important;
    }
  }
}

@for $index from 1 through 100 {
  @include media-breakpoint-down(md) {
    .w-md-#{$index} {
      width: #{$index * 1%} !important;
    }
  }
}

/* Margin related classes */
.m-auto {
  margin: 0 auto !important;
}

.ms-auto {
  margin-left: auto;
}

@for $index from 0 through 10 {
  .mb-#{$index} {
    margin-bottom: #{$index * 8px} !important;
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(lg) {
    .mb-lg-#{$index} {
      margin-bottom: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(md) {
    .mb-md-#{$index} {
      margin-bottom: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  .mt-#{$index} {
    margin-top: #{$index * 8px} !important;
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(lg) {
    .mt-lg-#{$index} {
      margin-top: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(md) {
    .mt-md-#{$index} {
      margin-top: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  .ms-#{$index} {
    margin-left: #{$index * 8px} !important;
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(lg) {
    .ms-lg-#{$index} {
      margin-left: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(md) {
    .ms-md-#{$index} {
      margin-left: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  .me-#{$index} {
    margin-right: #{$index * 8px} !important;
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(lg) {
    .me-lg-#{$index} {
      margin-right: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(md) {
    .me-md-#{$index} {
      margin-right: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  .p-#{$index} {
    padding: #{$index * 8px} !important;
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(lg) {
    .p-lg-#{$index} {
      padding: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(md) {
    .p-md-#{$index} {
      padding: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  .ps-#{$index} {
    padding-left: #{$index * 8px} !important;
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(lg) {
    .ps-lg-#{$index} {
      padding-left: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(md) {
    .ps-md-#{$index} {
      padding-left: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  .px-#{$index} {
    padding-top: #{$index * 8px} !important;
    padding-bottom: #{$index * 8px} !important;
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(lg) {
    .px-lg-#{$index} {
      padding-top: #{$index * 8px} !important;
      padding-bottom: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(md) {
    .px-md-#{$index} {
      padding-top: #{$index * 8px} !important;
      padding-bottom: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  .py-#{$index} {
    padding-right: #{$index * 8px} !important;
    padding-left: #{$index * 8px} !important;
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(lg) {
    .py-lg-#{$index} {
      padding-right: #{$index * 8px} !important;
      padding-left: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(md) {
    .py-md-#{$index} {
      padding-right: #{$index * 8px} !important;
      padding-left: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  .pt-#{$index} {
    padding-top: #{$index * 8px} !important;
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(lg) {
    .pt-lg-#{$index} {
      padding-top: #{$index * 8px} !important;
    }
  }
}

@for $index from 0 through 10 {
  @include media-breakpoint-down(md) {
    .pt-md-#{$index} {
      padding-top: #{$index * 8px} !important;
    }
  }
}
