<div class="bg-secondary">
  <div
    class="container m-auto d-flex justify-content-between align-items-center"
    style="padding-top: 13px; padding-bottom: 13px"
  >
    <ul class="d-flex justify-content-md-around w-md-100">
      <li class="me-6 me-md-0">
        <a
          href="#"
          class="font-normal-1-2 font-md-normal text-light text-decoration-none"
        >
          最新消息</a
        >
      </li>
      <li class="me-6 me-md-0">
        <a
          href="%VITE_SERVER_URL%special_project.html"
          class="font-normal-1-2 font-md-normal text-light text-decoration-none"
        >
          特別企劃</a
        >
      </li>
      <li class="me-6 me-md-0">
        <a
          href="#"
          class="font-normal-1-2 font-md-normal text-light text-decoration-none"
        >
          新品上市</a
        >
      </li>
      <li class="me-6 me-md-0">
        <a
          href="#"
          class="font-normal-1-2 font-md-normal text-light text-decoration-none"
        >
          鏡框小知識</a
        >
      </li>
    </ul>
    <span
      class="material-symbols-outlined material-icons md-24 md-light cursor-pointer d-md-none"
    >
      search
    </span>
  </div>
</div>
