<div class="bg-secondary">
  <div class="container m-auto footer-container-1 pt-6">
    <ul class="footer-menu">
      <li class="footer-menu-item">
        <a href="#">首頁</a>
      </li>
      <li class="footer-menu-item">
        <a href="#">系列鏡框</a>
      </li>
      <li class="footer-menu-item">
        <a href="#">門市據點</a>
      </li>
      <li class="footer-menu-item">
        <a href="#">部落格</a>
      </li>
      <li class="footer-menu-item">
        <a href="#">常見問題</a>
      </li>
    </ul>
    <ul class="footer-menu">
      <li class="footer-logo-item">
        <img
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
          alt=""
        />
      </li>
      <li class="footer-logo-item">
        <img
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
          alt=""
        />
      </li>
      <li class="footer-logo-item">
        <img
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
          alt=""
        />
      </li>
    </ul>
  </div>
  <div class="container m-auto footer-container-2 px-4">
    <div class="footer-content-container">
      <span class="material-symbols-outlined material-icons md-light md-36 me-2"
        >call</span
      >
      <h5 class="footer-content">0800-000-000</h5>
    </div>
    <div class="footer-content-container">
      <span class="material-symbols-outlined material-icons md-light md-36 me-2"
        >mail
      </span>
      <h5 class="footer-content">glasses@business.com</h5>
    </div>
  </div>
  <div class="container m-auto footer-container-3 px-4">
    <span class="text-light fs-ss">
      Copyright © 2020 Glasses.All rights reserved.
    </span>
    <ul class="d-flex">
      <li>
        <a href="#" class="text-light fs-ss text-decoration-none mr-6"
          >隱私權政策</a
        >
      </li>
      <li>
        <a href="#" class="text-light fs-ss text-decoration-none">服務條款</a>
      </li>
    </ul>
  </div>
</div>
