<header>
  <div class="bg-secondary">
    <div class="container header-container m-auto">
      <h1>
        <a class="logo" href="#">首頁</a>
      </h1>
      <ul class="menu">
        <li class="menu-item">
          <a href="#">系列鏡框</a>
        </li>
        <li class="menu-item">
          <a href="#">門市據點</a>
        </li>
        <li class="menu-item">
          <a href="#">部落格</a>
        </li>
        <li class="menu-item">
          <a href="#">常見問題</a>
        </li>
      </ul>
    </div>
  </div>
</header>
