<div class="container m-auto py-lg-0">
  <ul class="d-flex">
    <li class="series-frame-menu-container">
      <a
        href="%VITE_SERVER_URL%series_frame_optical.html"
        class="series-frame-menu-item d-block text-decoration-none text-dark fs-weight-bold text-align-center px-3"
        >OPTICAL</a
      >
    </li>
    <li class="series-frame-menu-container">
      <a
        href="%VITE_SERVER_URL%series_frame_sunglasses.html"
        class="series-frame-menu-item d-block text-decoration-none text-dark fs-weight-bold text-align-center px-3"
        >SUNGLASSES</a
      >
    </li>
    <li class="series-frame-menu-container">
      <a
        href="#"
        class="series-frame-menu-item d-block text-decoration-none text-dark fs-weight-bold text-align-center px-3"
        >FUNCTIONAL</a
      >
    </li>
  </ul>
</div>
