<ul class="d-flex">
  <li>
    <a href="#" class="page-item-previous">上一頁</a>
  </li>
  <li>
    <a href="#" class="page-item">1</a>
  </li>
  <li>
    <a href="#" class="page-item">2</a>
  </li>
  <li>
    <a href="#" class="page-item">3</a>
  </li>
  <li>
    <a href="#" class="page-item">4</a>
  </li>
  <li>
    <a href="#" class="page-item">5</a>
  </li>
  <li>
    <a href="#" class="page-item-next">下一頁</a>
  </li>
</ul>
