.footer-menu-item {
  font: normal normal normal 16px/24px "Noto Sans TC";
  color: #ffffff;
  height: 24px;
  text-decoration: none;
}

.footer-logo-item {
  width: 48px;
  height: 48px;
  @include media-breakpoint-down(md) {
    width: 24px;
    height: 24px;
  }
}

.footer-logo-item:not(:last-child) {
  margin-right: 36px;
  @include media-breakpoint-down(md) {
    margin-right: 8px;
  }
}

.footer-content {
  font: normal normal normal 36px/54px "Noto Sans TC";
  color: #ffffff;
  @include media-breakpoint-down(md) {
    font: normal normal normal 16px/24px "Noto Sans TC";
  }
}

.footer-container-2 {
  border-bottom: 1px solid #ffffff;
}
