.home-header {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true")
    no-repeat center / cover;
  height: 787px;
}

.home-header-content {
  height: 787px;
  align-items: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-header-content h2 {
  font-size: 64px;
  font-weight: bold;
  line-height: 96px;
}

.home-header-content h3 {
  font-size: 36px;
  line-height: 54px;
  font-family: "Noto Sans TC";
}

.shop-btn {
  width: 104px;
  padding: 8px 12px;
}

.content-container {
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content-container h3 {
  font: normal normal bold 48px/72px Noto Sans TC;
  margin-bottom: 32px;
}

.icon {
  max-width: 84px;
  height: auto;
}

.detail-title {
  font: normal normal bold 24px/36px Noto Sans TC;
  text-align: center;
  margin: 16px 0px 4px 0px;
}

.detail-container {
  display: flex;
  justify-content: space-between;
}

.detail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-content {
  font: normal normal normal 16px/24px Noto Sans TC;
  text-align: start;
}

.detail-card:not(:last-child) {
  margin-right: 24px;
}

.detail-card.w-33 h5 {
  font: italic normal 900 48px/72px Roboto;
}
