.select-city {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ced4da;
  width: 348px;
  height: 38px;

  @include media-breakpoint-down(md) {
    width: 276px;
  }
}

.store-detail {
  font: normal normal normal 20px/30px Noto Sans TC;
}

.store-header {
  border: 1px solid #00000020;
}

.store-content-contaier {
  border: 1px solid #00000020;
}

.icon-margin {
  margin: 3px;
}

.store-footer {
  background: #000000 0% 0% no-repeat padding-box;
  border: 1px solid #00000020;
  font: normal normal normal 19px/27px Noto Sans TC;
}

.store_card li {
  margin-right: 0.5% !important;
  @include media-breakpoint-down(lg) {
    margin-right: 0px !important;
  }
}

.store_card li:nth-child(3n) {
  margin-right: 0% !important;
}

.store_card li:nth-child(even) {
  @include media-breakpoint-down(lg) {
    margin-left: auto !important;
  }
}
