.store-h1 {
  font: normal normal bold 48px/72px Noto Sans TC;
  border-left: 8px solid #9f1213;
}

.select-city {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ced4da;
  width: 348px;
  height: 38px;
}

.store-detail {
  font: normal normal normal 20px/20px Noto Sans TC;
}

.store-header {
  border: 1px solid #00000020;
}

.store-content-contaier {
  border: 1px solid #00000020;
}

.icon-margin {
  margin: 3px;
}

.store-footer {
  background: #000000 0% 0% no-repeat padding-box;
  border: 1px solid #00000020;
  font: normal normal normal 19px/27px Noto Sans TC;
}
