<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>系列鏡框</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container m-auto px-lg-0">
      <ul class="d-flex">
        <li class="series-frame-menu-container">
          <a
            href="#"
            class="series-frame-menu-item d-block text-decoration-none text-dark fs-weight-bold text-align-center px-3"
            >OPTICAL</a
          >
        </li>
        <li class="series-frame-menu-container">
          <a
            href="#"
            class="series-frame-menu-item d-block text-decoration-none text-dark fs-weight-bold text-align-center px-3"
            >SUNGLASSES</a
          >
        </li>
        <li class="series-frame-menu-container">
          <a
            href="#"
            class="series-frame-menu-item d-block text-decoration-none text-dark fs-weight-bold text-align-center px-3"
            >FUNCTIONAL</a
          >
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <div class="w-50 series-frame-header-bg-1"></div>
      <div class="w-50 series-frame-header-bg-2"></div>
    </div>
    <div
      class="container m-auto d-flex flex-column align-items-center mt-10 mb-10"
    >
      <h3 class="series-frame-h3 fs-weight-bold">Celluloid Combi</h3>
      <h4 class="series-frame-h4 mb-4">賽璐珞鈦金屬混合鏡框</h4>
      <ul class="d-flex justify-content-between flex-wrap">
        <li class="w-24 w-lg-49 w-md-100 mb-10">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
            alt=""
          />
          <div class="d-flex justify-content-between">
            <span class="font-normal-2">BJ41600S</span>
            <span class="font-normal-2 text-primary font-weight-bold"
              >NTD3,490</span
            >
          </div>
          <div class="d-flex">
            <span class="color-icon-brown me-1"></span>
            <span class="color-icon-brown-light"></span>
          </div>
        </li>
        <li class="w-24 w-lg-49 w-md-100 mb-10">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
            alt=""
          />
          <div class="d-flex justify-content-between">
            <span class="font-normal-2">BJ41600S</span>
            <span class="font-normal-2 text-primary font-weight-bold"
              >NTD3,490</span
            >
          </div>
          <div class="d-flex">
            <span class="color-icon-brown me-1"></span>
            <span class="color-icon-brown-light"></span>
          </div>
        </li>
        <li class="w-24 w-lg-49 w-md-100 mb-10">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
            alt=""
          />
          <div class="d-flex justify-content-between">
            <span class="font-normal-2">BJ41600S</span>
            <span class="font-normal-2 text-primary font-weight-bold"
              >NTD3,490</span
            >
          </div>
          <div class="d-flex">
            <span class="color-icon-brown me-1"></span>
            <span class="color-icon-brown-light"></span>
          </div>
        </li>
        <li class="w-24 w-lg-49 w-md-100 mb-10">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
            alt=""
          />
          <div class="d-flex justify-content-between">
            <span class="font-normal-2">BJ41600S</span>
            <span class="font-normal-2 text-primary font-weight-bold"
              >NTD3,490</span
            >
          </div>
          <div class="d-flex">
            <span class="color-icon-brown me-1"></span>
            <span class="color-icon-brown-light"></span>
          </div>
        </li>
        <li class="w-24 w-lg-49 w-md-100 mb-10">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
            alt=""
          />
          <div class="d-flex justify-content-between">
            <span class="font-normal-2">BJ41600S</span>
            <span class="font-normal-2 text-primary font-weight-bold"
              >NTD3,490</span
            >
          </div>
          <div class="d-flex">
            <span class="color-icon-brown me-1"></span>
            <span class="color-icon-brown-light"></span>
          </div>
        </li>
        <li class="w-24 w-lg-49 w-md-100 mb-10">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
            alt=""
          />
          <div class="d-flex justify-content-between">
            <span class="font-normal-2">BJ41600S</span>
            <span class="font-normal-2 text-primary font-weight-bold"
              >NTD3,490</span
            >
          </div>
          <div class="d-flex">
            <span class="color-icon-brown me-1"></span>
            <span class="color-icon-brown-light"></span>
          </div>
        </li>
        <li class="w-24 w-lg-49 w-md-100 mb-10">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
            alt=""
          />
          <div class="d-flex justify-content-between">
            <span class="font-normal-2">BJ41600S</span>
            <span class="font-normal-2 text-primary font-weight-bold"
              >NTD3,490</span
            >
          </div>
          <div class="d-flex">
            <span class="color-icon-brown me-1"></span>
            <span class="color-icon-brown-light"></span>
          </div>
        </li>
        <li class="w-24 w-lg-49 w-md-100 mb-10">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
            alt=""
          />
          <div class="d-flex justify-content-between">
            <span class="font-normal-2">BJ41600S</span>
            <span class="font-normal-2 text-primary font-weight-bold"
              >NTD3,490</span
            >
          </div>
          <div class="d-flex">
            <span class="color-icon-brown me-1"></span>
            <span class="color-icon-brown-light"></span>
          </div>
        </li>
        <li class="w-24 w-lg-49 w-md-100 mb-10">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
            alt=""
          />
          <div class="d-flex justify-content-between">
            <span class="font-normal-2">BJ41600S</span>
            <span class="font-normal-2 text-primary font-weight-bold"
              >NTD3,490</span
            >
          </div>
          <div class="d-flex">
            <span class="color-icon-brown me-1"></span>
            <span class="color-icon-brown-light"></span>
          </div>
        </li>
        <li class="w-24 w-lg-49 w-md-100 mb-10">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
            alt=""
          />
          <div class="d-flex justify-content-between">
            <span class="font-normal-2">BJ41600S</span>
            <span class="font-normal-2 text-primary font-weight-bold"
              >NTD3,490</span
            >
          </div>
          <div class="d-flex">
            <span class="color-icon-brown me-1"></span>
            <span class="color-icon-brown-light"></span>
          </div>
        </li>
        <li class="w-24 w-lg-49 w-md-100 mb-10">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
            alt=""
          />
          <div class="d-flex justify-content-between">
            <span class="font-normal-2">BJ41600S</span>
            <span class="font-normal-2 text-primary font-weight-bold"
              >NTD3,490</span
            >
          </div>
          <div class="d-flex">
            <span class="color-icon-brown me-1"></span>
            <span class="color-icon-brown-light"></span>
          </div>
        </li>
        <li class="w-24 w-lg-49 w-md-100 mb-10">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
            alt=""
          />
          <div class="d-flex justify-content-between">
            <span class="font-normal-2">BJ41600S</span>
            <span class="font-normal-2 text-primary font-weight-bold"
              >NTD3,490</span
            >
          </div>
          <div class="d-flex">
            <span class="color-icon-brown me-1"></span>
            <span class="color-icon-brown-light"></span>
          </div>
        </li>
      </ul>
      <ul class="d-flex">
        <li>
          <a href="#" class="page-item-previous">上一頁</a>
        </li>
        <li>
          <a href="#" class="page-item">1</a>
        </li>
        <li>
          <a href="#" class="page-item">2</a>
        </li>
        <li>
          <a href="#" class="page-item">3</a>
        </li>
        <li>
          <a href="#" class="page-item">4</a>
        </li>
        <li>
          <a href="#" class="page-item">5</a>
        </li>
        <li>
          <a href="#" class="page-item-next">下一頁</a>
        </li>
      </ul>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
