<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>系列鏡框</title>
  </head>
  <body>
    <%- include('./layout/header'); -%> <%-
    include('./layout/series_frame_menu'); -%>
    <div class="d-flex">
      <div class="w-50 series-frame-header-bg-3"></div>
      <div class="w-50 series-frame-header-bg-4"></div>
    </div>
    <div
      class="container m-auto d-flex flex-column align-items-center mt-10 mb-10"
    >
      <h3 class="series-frame-h3 fs-weight-bold">Celluloid Combi</h3>
      <h4 class="series-frame-h4 mb-4">賽璐珞鈦金屬混合鏡框</h4>
      <ul class="d-flex justify-content-between flex-wrap">
        <% for(let i=1; i<=6; i++) {%> <%- include('./components/optical_crad',
        {index:i}) %> <% } %>
      </ul>
      <%- include('./layout/series_frame_page'); -%>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
