<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>門市據點</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container mt-10 mb-10 m-auto">
      <h1 class="store-h1 ps-2 mb-4">門市據點</h1>
      <div class="d-flex align-items-center mb-6">
        <span class="font-normal-2 me-2">選擇地區</span>
        <select class="select-city">
          <option>台北市</option>
          <option>台北市中山旗艦店</option>
        </select>
      </div>
      <ul class="d-flex flex-wrap">
        <% for(let i=1; i<=5; i++) {%> <%- include('./components/store_card',
        {index: i}); %> <% } %>
      </ul>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
